@using System.Security.Claims; 
@{
    Style.Reqiured("custom").AtHead();
    Script.Reqiured("custom").AtFoot();

    User user = null;
    var context = ViewContext.HttpContext;
    if (context.User.Identity.IsAuthenticated)
    {
        var userId = context.User.FindFirst(c => c.Type == ClaimTypes.Sid).Value;
        user = context.Session.Get<User>(userId);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/bit_favicon.ico" rel="shortcut icon" /> 
    <title>色月后台管理系统</title>
    @StyleAtHead()
    @ScriptAtHead()
    @RenderSection("Styles", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!--left_col-->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>色月管理系统</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @if (user != null)
                            {
                                <img src="@(user.HeadImg == "" ?  "/images/user.png" : user.HeadImg)" class="img-circle profile_img">
                            }
                            else
                            {

                                <img src="/images/user.png" class="img-circle profile_img">
                            }

                        </div>
                        <div class="profile_info">
                            <span>欢迎,</span>
                            <h2>@(user == null ?  "???" : user.NickName)</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>常规</h3>
                            @if (IsSectionDefined("Left"))
                            {
                                @RenderSection("Left", false)
                            }
                            else
                            { 
                               @await Component.InvokeAsync("LeftMenu")
                            }
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="设置">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="全屏">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="锁住">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="注销" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!--/left_col-->
            <!--top-nav-->
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  
                                    @if (user != null)
                                    {
                                        <img src="@(user.HeadImg == "" ?  "/images/user.png" : user.HeadImg)" alt="">
                                    }
                                    else
                                    {
                                        <img src="/images/user.png">
                                    }
                                    @(user == null ? "admin" : user.NickName)
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> 个人中心</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>设置</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">帮助</a></li>
                                    <li><a href="@Url.Action("ManageLogout", "System")"><i class="fa fa-sign-out pull-right"></i>注销</a></li>
                                </ul>
                            </li>
                            
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Admin</span>
                                                <span class="time">3分钟前</span>
                                            </span>
                                            <span class="message">
                                                你有新的消息通知请及时处理...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Admin</span>
                                                <span class="time">3分钟前</span>
                                            </span>
                                            <span class="message">
                                                你有新的消息通知请及时处理...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Admin</span>
                                                <span class="time">3分钟前</span>
                                            </span>
                                            <span class="message">
                                                你有新的消息通知请及时处理...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>Admin</span>
                                                <span class="time">3分钟前</span>
                                            </span>
                                            <span class="message">
                                                你有新的消息通知请及时处理...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>查看更多</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="btn btn-info btn-sm nav_link" href="@NavigationUrls.Instance().ManageHome()">首页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!--/top-nav-->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Bootstrap Admin Template by <a href="https://colorlib.com">XXXXX</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
            <!-- /footer content -->
        </div>
    </div>
    @StyleAtFoot()
    @ScriptAtFoot()
    @RenderSection("Scripts", required: false)
</body>
</html>
