@model PagingDataSet<GoodsSkuInout>
@{
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
    var currentUrl = RequestHelper.RawUrl(HttpContextCore.Current.Request);
}
<style>
    .form_fixed .form-group .range_input_box input {
        display: inline-block;
        width: 70px;
    }
</style>
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ol class="breadcrumb">
                        <li><a href="#">系统后台</a></li>
                        <li><a href="#">商品模块</a></li>
                        <li class="active">商品出入库</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        @using (Html.BeginForm("ManageGoodsSkuInout", "SystemGoods", FormMethod.Get, new { @Class = "form-horizontal form_fixed" }))
                        {
                            @Html.Hidden("returnUrl", currentUrl)
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label">商品名称</label>
                                    <div class="input_box">
                                        <input type="text" name="GoodsName" value="@ViewData["GoodsName"]" class="form-control" placeholder="商品名称">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">商品规格</label>
                                    <div class="input_box">
                                        <input type="text" name="SkuName" value="@ViewData["SkuName"]" class="form-control" placeholder="商品规格">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">出入库数量</label>
                                    <div class="input_box range_input_box">
                                        <input type="text" name="InoutNumberMin" value="@ViewData["InoutNumberMin"]" class="form-control" placeholder="最小值">
                                        -
                                        <input type="text" name="InoutNumberMax" value="@ViewData["InoutNumberMax"]" class="form-control" placeholder="最大值">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label">是否出库</label>
                                    <div class="input_box">
                                        @Html.DropDownList("IsOut", @ViewData["IsOut"] as IEnumerable<SelectListItem>, "全部", new { @Class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="input_box">
                                        <button type="button" class="jsEmpty btn btn-default _submit">
                                            <i class="fa fa-refresh"></i>
                                            重 置
                                        </button>
                                        <button type="submit" class="btn btn-success _submit">
                                            <i class="fa fa-search"></i>
                                            搜 索
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        }
                        <div class="x_content text-right">

                        </div>

                        @using (Html.BeginForm("", "", FormMethod.Get, new { id = "userRolesForm", @Class = "table_form" }))
                        {
                            @Html.Hidden("returnUrl", currentUrl)
                            @if (Model.TotalRecords > 0)
                            {
                                IGoodsInfoService goodsInfoService = DIContainer.Resolve<IGoodsInfoService>();
                                IGoodsSkuInfoService goodsSkuInfoService = DIContainer.Resolve<IGoodsSkuInfoService>();
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">商品名称</th>
                                            <th class="column-title">商品规格</th>
                                            <th class="column-title">出入库数量</th>
                                            <th class="column-title">是否出库</th>
                                            <th class="column-title">创建时间</th>
                                            <th class="column-title">操作记录</th>
                                        </tr>
                                    </thead>
                                    @if (Model != null && Model.TotalRecords > 0)
                                    {
                                        foreach (GoodsSkuInout goodsSkuInout in Model)
                                        {
                                            GoodsInfo goodsInfo = goodsInfoService.GetGoodsInfo(goodsSkuInout.Goodsid);
                                            GoodsSkuInfo goodsSkuInfo = goodsSkuInfoService.GetGoodsSkuInfo(goodsSkuInout.Skuid);
                                            <tr class="pointer">
                                                <td class="td_user">@(goodsInfo == null ? string.Empty : goodsInfo.GoodsName)</td>
                                                <td>@(goodsSkuInfo == null ? string.Empty : goodsSkuInfo.SkuName)</td>
                                                <td>@(goodsSkuInout.InoutNumber)</td>
                                                <td>@(goodsSkuInout.IsOut ? "出库" : "入库")</td>
                                                <td>@(goodsSkuInout.DateCreated.ToDateString(true))</td>
                                                <td>@(goodsSkuInout.Operation)</td>
                                            </tr>
                                        }
                                    }
                                </table>
                                <div>
                                    @Html.PagingResults(Model)
                                    @Html.PagingButton(Model)
                                    <div class="clearfix"></div>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                    搜索不到数据
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal 弹框模板-->
<div class="modal fade" id="ajaxDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" data-backdrop="static">
    <div id="dialog" class="modal-dialog modal-md" role="document">
    </div>
</div>


@section Scripts{
    <script>

    </script>
}
